<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bootstrap UI Lab</a>
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/">Folder Browser</a>
      <a class="nav-link" routerLink="/workbench">Workbench</a>
      <a class="nav-link" routerLink="/image-gallery">Image Gallery</a>
      <a class="nav-link" routerLink="/document-manager">Document Manager</a>
    </div>
  </div>
</nav>

<!-- Keep router outlet for future routes -->
<router-outlet></router-outlet>